html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: block;
}
body {
	background: #eeeeee;
	color: #000000;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: none; }
a, a:visited {
    color: #1B57B1;
}

#nav-container {
	margin: 0 auto;
    width: 100%;
    text-align: center;
}

nav {
    display: block;
    margin: auto;
	background-color: #333333;
}

nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
}
	
nav ul li {
	display:inline-block;
	background-color: #333333;
    text-align: left;
}

nav a {
	display:block;
	padding:0 8pt;	
	color:#FFF;
	font-size:15pt;
	line-height: 30pt;
	text-decoration:none;
}

nav a:visited { 
    color:#FFF;
}

nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 30pt; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* First Tier Dropdown */
nav ul ul li {
	width:280pt;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
    width:250pt;
	top:-30pt; 
	left:-250pt;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ''; }
li > a:only-child:after { content: ''; }

#om-logo img {
    display:block;
    margin: auto;
    height: 30pt;
    margin-top: 3pt;
}

#ja-footer {
    background: #333333;
    border-bottom: 3px solid #111111;
    text-align: center;
    color: #888888;
}

figure {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
    font-size: 10pt;
}

h1 {
    margin-top: 10pt;
    margin-bottom: 0;
}

.rss-image {
  height: 1em;
  width: 1em;
}

.publishDate {
    font-size: 8pt;
}

section[role=doc-endnotes] {
    counter-reset: item;
    padding: 0;
    font-size: 10pt;
    list-style:none;
}

li[role=doc-endnote]:before {
    content: counter(item) "";
    counter-increment: item;
    position: absolute;
    vertical-align:super;
    font-size: 7pt;
    left: 1em;
}

li[role=doc-endnote] {
    position: relative;
    display: block;
    padding: .0em .0em .0em 1.5em;
}

#frontpagecolumns:after {
  content: "";
  display: table;
  clear: both;
}

#osdonatestatic {
    margin: auto;
    text-align: center;
    border: 1px dotted black;
    width:25em;
    margin-bottom: 5pt;
    padding: 3pt;
}

#frontpagecolumns {
    display: table;
}

#maincontent {
    display: inline-block;
    float: left;
    width: 70%;
}

#latestnews {
    display: inline-block;
    width: 30%;
    float: left;
    margin-top: 10pt;
}

#latestnewsinternal {
    border: 1px solid gray;
    margin-left: 10pt;
    padding: 10pt;
    padding-top: 0;
}

#newslist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.newsitem {
}
    
@media screen and (max-width: 800px) {
  #maincontent {
    width: 100%;
  }
  #maincontent {
    width: 100%;
  }
  #latestnews {
    width: 75%;
    margin-left: 10%;
  }
  #om-logo img {
    height: 20pt;
  }
  nav a {
    font-size:12pt;
	line-height: 18pt;
  }
  nav ul ul {
	top: 18pt;
  }
  nav ul ul li {
	width:200pt;
  }
  nav ul ul ul li {
    width:180pt;
	top:-18pt; 
	left:-180pt;
  }
}
