html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: block;
}
body {
	background: #eeeeee;
	color: #000000;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
}

h1, h2, h3, h4 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
h1 {
    font-size: 21pt; /* default is 2em=24pt */
}
h2 {
    font-size: 17pt; /* default is 1.5em=18pt */
}
h3 {
    font-size: 13pt; /* default is 1.17em=14pt */
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: none; }
a, a:visited {
    color: #1B57B1;
}

#nav-container {
	margin: 0 auto;
    width: 100%;
    text-align: left;
}

#nav-container nav {
    display: block;
    margin: auto;
	background-color: #333333;
}

#nav-container nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
}
	
#nav-container nav ul li {
	display:inline-block;
	background-color: #333333;
    text-align: left;
    z-index: 100;
}

#nav-container nav a {
	display:block;
	padding:0 8pt;	
	color:#FFF;
	font-size:15pt;
	line-height: 30pt;
	text-decoration:none;
}

#nav-container nav a:visited { 
    color:#FFF;
}

#nav-container nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default */
#nav-container nav ul ul {
	display: none;
	position: absolute; 
	top: 30pt; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
#nav-container nav ul li:hover > ul {
	display:inherit;
}
	
/* First Tier Dropdown */
#nav-container nav ul ul li {
	width:280pt;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
#nav-container nav ul ul ul li {
	position: relative;
    width:160pt;
	top:-30pt; 
	left:-160pt;
}

.toc-sidebar {
}

.toc-sidebar nav {
    display: none;
    width: 0%;
    float: left;
    position: absolute;
    left: 0;
}

.toc-sidebar ul {
    padding: 0;
    margin: 0;
    margin-left: 5pt;
	list-style: none;
    position: relative;
    font-size: 12pt;
}

.toc-sidebar ul ul {
    margin-left: 10pt;
    font-size: 10pt;
}

.toc-sidebar ul ul ul {
    margin-left: 20pt;
    font-size: 8pt;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ''; }
li > a:only-child:after { content: ''; }

#ja-header {
    background-image: url("/images/ice-cooling.jpg");
    background-size: 100% auto;
    background-position: center center;
}
#om-logo img {
    display:inline-block;
    height: 50pt;
}

#ja-footer {
    background: #333333;
    border-bottom: 3px solid #111111;
    text-align: center;
    color: #888888;
}

figure {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
    font-size: 10pt;
}

.rss-image {
  height: 1em;
  width: 1em;
}

.publishDate {
    font-size: 8pt;
}

section[role=doc-endnotes] {
    counter-reset: item;
    padding: 0;
    font-size: 10pt;
    list-style:none;
}

li[role=doc-endnote]:before {
    content: counter(item) "";
    counter-increment: item;
    position: absolute;
    vertical-align:super;
    font-size: 7pt;
    left: 1em;
}

li[role=doc-endnote] {
    position: relative;
    display: block;
    padding: .0em .0em .0em 1.5em;
}

#frontpagecolumns:after {
  content: "";
  display: table;
  clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#osdonatestatic {
    margin: auto;
    text-align: center;
    border: 1px dotted black;
    width:25em;
    margin-bottom: 5pt;
    padding: 3pt;
}

#frontpagecolumns {
    display: table;
}

#maincontent {
    display: inline-block;
    float: left;
    width: 70%;
}

#latestnews {
    width: 30%;
    float: left;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

#latestnewsinternal {
    border: 1px solid gray;
    margin-left: 10pt;
    padding: 10pt;
    padding-top: 0;
}

#newslist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.newsitem {
}

div.highlight {
    margin-left: 15pt;
    margin-right: 15pt;
}
div.highlight pre {
    white-space: pre-wrap;
    word-break: break-word;
    padding: 5pt;
}

div.highlight tr > td pre {
    white-space: pre;
    word-break: normal;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}
dt {
    float: left;
    width: 20%;
    padding-right: 0.75em;
    margin: 0.5em 0 0.5em 0;
    font-weight: bold;
}
dd {
    float: left;
    width: 75%;
    padding: 0;
    margin: 0.5em 0 0.5em 0;
}
    
.space-left {
    padding-left: 10pt;
}
@media screen and (min-width: 1600px) {
    .space-left {
        padding-left: 15%;
    }
    .space-right {
        padding-right: 15%;
    }
    .toc-sidebar nav {
        display: inline;
        width: 15%;
    }
}

@media screen and (max-width: 800px) {
  .space-left {
    padding-left: 0;
  }
  #maincontent {
    width: 100%;
  }
  #maincontent {
    width: 100%;
  }
  #latestnews {
    width: 75%;
    margin-left: 10%;
  }
  #om-logo img {
    height: 20pt;
  }
  nav a {
    font-size:12pt;
	line-height: 18pt;
  }
  nav ul ul {
	top: 18pt;
  }
  nav ul ul li {
	width:200pt;
  }
  nav ul ul ul li {
    width:130pt;
	top:-18pt; 
	left:-130pt;
  }
  #ja-header {
    background-image: none;
  }
}
